/* your styles go here */

p {
  min-width: 100%;
}
p img {
  display: block;
  margin: 0 auto !important;
}

h5 {
  text-align: center !important;
}

.row {
  width: 100% !important;
}

#col-lg-8-override {
  width: 100%;
}